.top-bar {
	/* Dark Red #5c1a24, 
	light red: #b43a31, 
	beige: #f4f0d9, 
	orange: #e75624, 
	dark brown: #392219, 
	light brown: #88784b, 
	darker brown: #341e16,
	dark beige: #c2ba8f  */
    background-color: #5c1a24;
    color: white;
	margin-bottom: 2em;
}

.top-bar-title {
float: none;
text-align: center;
font-size: 3em;
}

body {
background-color: #f4f0d9;
font-family: 'Fanwood Text', serif;
font-size: 1.3em;
}

.buy-buttons{
margin-top: 1em;
margin-bottom: 2em;
}

.button {
text-decoration: none;
background-color: #cf4d20;
font-family: 'Lato', sans-serif;
}

.button:hover, .button:focus  {
background-color: #e75624;
}


.callout.primary {
background-color: #c2ba8f;
}

a {
text-decoration: underline;
color: #5c1a24;
}

a:hover, a:focus {
color: #b43a31
}

.summary {
margin-bottom: 2em;
}

h5 {
font-family: 'Lato', sans-serif;
}

.callout input {
font-family: 'Lato', sans-serif;
}

img {
 border: 1px solid rgba(10, 10, 10, 0.25);
 }
 
img, .callout, .buy-buttons .button, .top-bar {
box-shadow: 0px 0px 10px 0px rgba(10,10,10,0.25);
}

#fb {
background-color: #3b5998;
vertical-align: middle;
text-align: left;
}

#fb span {
vertical-align: middle;
}

#icon {
max-width: 1.5em;
vertical-align: middle;
margin-right: 1em;
text-align: left;
}

@media screen and (max-width: 64em) {
img {
max-height: 50vh;
}
}