/*  Dark Red #5c1a24,
    light red: #b43a31,
    beige: #f4f0d9,
    orange: #e75624,
    dark brown: #392219,
    light brown: #88784b,
    darker brown: #341e16,
    dark beige: #c2ba8f  */

.brand-logo {
    font-size: 250%;
    margin-left: 10%;
    font-family: "Tungsten", sans-serif;
}

/*@font-face {
  font-family: Tungsten;
  src: url(fonts/Tungsten-Semibold.otf);
}*/

@font-face {font-family: "Tungsten";
  src: url("fonts/561f38b1f4570de0fb8a39d691ab058c.eot"); /* IE9*/
  src: url("fonts/561f38b1f4570de0fb8a39d691ab058c.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/561f38b1f4570de0fb8a39d691ab058c.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/561f38b1f4570de0fb8a39d691ab058c.woff") format("woff"), /* chrome、firefox */
  url("fonts/561f38b1f4570de0fb8a39d691ab058c.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/561f38b1f4570de0fb8a39d691ab058c.svg#Tungsten-Bold") format("svg"); /* iOS 4.1- */
}

.nav-wrapper {
    background-color: #5c1a24;
}

#main-logo {
    width: 70%;
}

.button {
  border: 2px solid white;
  color: white;
  text-align: center;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: none;
}


.button:hover {
  background-color: white;
  color: black;
}

footer img {
    height: 40px;
    width: 40px;
    display: block;
    margin-top: 15px;
}

.page-footer{
    background-color: #5c1a24;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.card-action a {
    color: #b43a31 !important;
}

.card-action a:hover {
    color: #5c1a24 !important;
}

@media only screen and (max-width: 993px){
    .brand-logo {
        margin: 0;
    }
}

@media only screen and (max-width: 370px){
    nav .brand-logo {
        font-size: 1.8rem !important;
    }
}